<div class="server-page">

  <div class="banner">
    <div class="container">
      <h1>{{server.title}}</h1>
      <app-server-meta [server]="server">
        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary" *ngIf="!server.active"
            [routerLink]="['/server-settings', server.slug]">
            <i class="ion-edit"></i> Manage Server
          </a>

          <button class="btn btn-sm btn-outline-warning" *ngIf="!server.active && currentUser.active"
            [ngClass]="{disabled: isDisabled}" (click)="disableServer()">
            <i class="ion-settings"></i> Enable Server
          </button>

          <button class="btn btn-sm btn-outline-warning" *ngIf="server.active && currentUser.active"
            [ngClass]="{disabled: isDisabled}" (click)="disableServer()">
            <i class="ion-settings"></i> Disable Server
          </button>

        </span>
      </app-server-meta>


    </div>

  </div>
  <div class="container">
    {{server.vue}}
  </div>
</div>