<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="profile.image" class="user-img" />
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.description }}</p>

          <a [routerLink]="['/profile-settings/' + profile.username]" [hidden]="!isUser && !currentUser.admin"
            *ngIf="currentUser.active" class="btn btn-sm btn-outline-info">
            <i class="ion-md-settings"></i> Edit Profile Settings
          </a>
          <a [routerLink]="['/disable-account']" [hidden]="!isUser" *ngIf="!currentUser.active"
            class="btn btn-sm btn-outline-warning">
            <i class="ion-md-power"></i> Active my account
          </a>
        </div>

      </div>
    </div>
  </div>


  <router-outlet></router-outlet>


</div>