#stepper {
    background-color: $color-sand;
}

#upload_url {
    .mat-form-field {
        width: 100%;
    }
}

#upload_exercises {
    .warning {
        border-style: dashed;
        border-color: rgb(220, 183, 20);
        background-color: #ffffe6;
    }
}

.mat-table {
    width: 100%;
}

.mat-horizontal-stepper-content {
    padding: 1rem;
}

// Drop Lists
$mat-header-height: 42px;

#trash, #exercises, #groups {
    height: 100%;
    text-align: center;

    > .mat-card-header {
        height: $mat-header-height;
        align-items: center;

        > .space {
            flex-grow: 1;
        }

        > .mat-flat-button {
            margin-right: 16px;
        }
    }

    > .mat-card-content {
        height: calc(100% - #{$mat-header-height});
        padding-top: 10px;

        > .mat-chip-list {
            width: 100%;
            height: 100%;
            display: flex;

            > .mat-chip-list-wrapper {
                width: 100%;
                height: 100%;
                margin: 0;
                flex-direction: column;

            }
        }
    }
}

#trash-list, #exercises-list, #group-list {
    overflow: auto;
}

#trash-list, #exercises-list {
    width: 100%;
    height: 100%;

    > .mat-chip {
        min-width: 50%;
        height: auto;
        flex-direction: column;
        cursor: move;
    }
}

#trash {
    width: 20%;

    > .mat-card-header {
        background-color: $color-light-red;
    }
}

#exercises {
    width: 30%;

    > .mat-card-header {
        background-color: $color-light-green;
    }
}

#create-group {
    width: 25%;
    text-align: center;

    > .mat-card-header {
        height: 60%;
    }

    > .mat-card-content {
        height: 40%;
    }
}

.exercise-item.cdk-drag-preview {
    flex-direction: column;
}

#groups {
    height: 100%;

    > .mat-card-header {
        background-color: $color-light-grey;
        align-items: center;

        > .space {
            flex-grow: 1;
        }

        > .mat-flat-button {
            margin-right: 16px;
        }
    }

    > .mat-card-content > .mat-list {
        height: 100%;
        padding: 0;
        overflow: auto;
    }
}

// TODO: move into border SCSS
$box-shadow-card:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

#groups-list {

    > .mat-list-item {
        height: 100%;
        background-color: $color-sand;
        box-shadow: $box-shadow-card;

        > .mat-list-item-content {
            padding: 16px;
            align-items: stretch;

            > .group-handle {
                height: auto;
                cursor: move;
                display: flex;
                align-items: center;
            }

            > .mat-subheader {
                box-sizing: content-box;
            }

            > .mat-chip-list {
                flex-grow: 1;
                overflow: auto;

                > .mat-chip-list-wrapper {
                    height: 100%;
                    margin: 0;

                    > .cdk-drop-list {
                        height: 100%;
                        flex-grow: 1;
                        display: inline-flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.group-item {
    height: 100%;

    &.cdk-drag-preview {
        background-color: $color-sand;
        box-shadow: $box-shadow-card;

        > .mat-list-item-content {
            height: 100%;
            padding: 16px;
            display: flex;
            align-items: center;
        }
    }
}

.cdk-drag-placeholder {
    flex-direction: column;
    opacity: 0;
}

.cdk-drop-list-receiving {
    background: $color-desert-sand;
    border: dotted 3px #303033;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.activate_server {
    text-align: center;
}

.danger {
    border-style: dashed;
    border-color: crimson;
    background-color: #ffe6e6;
}
