<header>
  <div fxLayout="row" fxLayoutGap="16px">
    <a routerLink="/">
      <img src="assets/small_logo.svg">
    </a>
    <nav fxFlex="100" fxLayout="row" fxLayoutGap="16px"
         fxLayoutAlign.lt-md="end">
      <ng-template #buttonsList let-buttons="buttons">
        <!-- Buttons List template for mobile -->
        <button fxHide fxShow.lt-md
                mat-button [matMenuTriggerFor]="routerMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu fxHide fxShow.lt-md
                  #routerMenu="matMenu">
          <button mat-menu-item
                  *ngFor="let button of buttons"
                  routerLink="{{button.routerLink}}"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact : button.options.exact }">
            {{button.body}}
          </button>
          <button *appShowAuthed="true"
                  mat-menu-item
                  routerLink="/"
                  (click)="logout()">
            Logout
          </button>
        </mat-menu>

        <!-- Buttons List template for desktop -->
        <button fxShow fxHide.lt-md
                mat-stroked-button
                *ngFor="let button of buttons"
                color="{{button.color}}"
                routerLink="{{button.routerLink}}"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact : button.options.exact }">
          {{button.body}}
        </button>
        <!-- TODO: find a way to put it as a routerButton -->
        <button *appShowAuthed="true"
                fxShow fxHide.lt-md
                mat-stroked-button
                color="accent"
                routerLink="/"
                (click)="logout()">
          Logout
        </button>
      </ng-template>

      <!-- Show this for logged out users -->
      <ng-container *appShowAuthed="false">
        <ng-container
          *ngTemplateOutlet="buttonsList;
                             context : { buttons : BUTTONS.ANONYMOUSUSERS }">
        </ng-container>
      </ng-container>

      <!-- Show this for logged in users -->
      <ng-container *appShowAuthed="true">
        <!-- Show this for users that have disabled their account -->
        <ng-container *ngIf="!currentUser.active">
          <ng-container
            *ngTemplateOutlet="buttonsList;
                               context : { buttons : BUTTONS.DISABLEDUSERS }">
          </ng-container>
        </ng-container>

        <!-- Show this for users where their account is pending verification -->
        <ng-container *ngIf="currentUser.active &&
                             !currentUser.authorized &&
                             !currentUser.admin">
          <ng-container
            *ngTemplateOutlet="buttonsList;
                               context : { buttons : BUTTONS.PENDINGUSERS }">
          </ng-container>
        </ng-container>

        <!-- Show this for regular logged users -->
        <ng-container *ngIf="currentUser.active &&
                             currentUser.authorized &&
                             !currentUser.admin">
          <ng-container
            *ngTemplateOutlet="buttonsList;
                               context : { buttons : BUTTONS.REGULARUSERS }">
          </ng-container>
        </ng-container>

        <!-- Show this for logged admins users -->
        <ng-container *ngIf="currentUser.admin">
          <ng-container
            *ngTemplateOutlet="buttonsList;
                               context : { buttons : BUTTONS.ADMINUSERS }">
          </ng-container>
        </ng-container>
      </ng-container>
    </nav>
    <a class="navbar-brand d-none d-lg-block" href="https://ocaml-sf.org">
      <img src="assets/small_logo.svg">
    </a>
  </div>
</header>
