<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Learn OCaml Essok</a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-info" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-info" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="/contact" routerLinkActive="active">
          Contacts
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="/help" routerLinkActive="active">
          Help
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-info" routerLink="/editor" routerLinkActive="active" *ngIf="currentUser.active">
          <i class="ion-compose"></i>&nbsp;New Server
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-info" routerLink="/profile-settings" routerLinkActive="active" *ngIf="currentUser.active">
          <i class="ion-gear-a"></i>&nbsp;Profile Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-warning" routerLink="/disable-account" routerLinkActive="active" *ngIf="!currentUser.active">
          <i class="ion-gear-a"></i>&nbsp;Activate your Account
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-info" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="/contact" routerLinkActive="active">
          Contacts
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-outline-success" routerLink="/help" routerLinkActive="active">
          Help
        </a>
      </li>
      <li class="nav-item" *appShowAdmin="true">
        <a class="btn btn-outline-warning" routerLink="/admin" routerLinkActive="active">
          Admin Panel
        </a>

      <li class="nav-item">
        <a class="btn btn-outline-danger" (click)="logout()" routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Logout
        </a>
      </li>

    </ul>

  </div>
</nav>