<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Learn Ocaml Server Manager</h1>
      <p>A place to manage your <i>Learn Ocaml</i> server.</p>
    </div>
  </div>

  <div class="container page" *appShowAuthed="false">
    <div class="col-md-10 offset-md-1 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">{{ header }}</p>
        <p class="text-xs-center">{{ body }}</p>
      </div>
  </div>

  <div class="container page" *appShowAuthed="true">
    <h1 class="text-xs-center">Mainboard</h1>
    <hr />
    <div class="row">
        <app-server-list [limit]="5" [config]="listConfig"></app-server-list>
    </div>
  </div>
</div>
