<app-server-preview
  *ngFor="let server of results"
  [server]="server">
</app-server-preview>

<div class="app-server-preview"
  [hidden]="!loading">
  Loading servers...
</div>

<div class="app-server-preview"
  [hidden]="loading || results.length">
  No servers are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
