<div [hidden]="!loading">
  <h4>Loading servers...</h4>
</div>

<div [hidden]="loading || results.length != 0">
  <h4>No servers are here... yet.</h4>
</div>

<mat-list class="servers-list" [hidden]="loading || results.length == 0">
  <div mat-subheader>Servers list</div>
  <mat-list-item *ngFor="let server of results">
    <app-server-preview [server]="server"></app-server-preview>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<mat-paginator [hidden]="loading || results.length == 0"
               [length]="serversCount"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="updatePage($event)"
               showFirstLastButtons>
</mat-paginator>
