<div class="jw-modal modal fade" id="pleaseWaitModal" tabindex="-1"
     role="dialog" aria-labelledby="pleaseWaitModal"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please wait...</h5>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped
  		progress-bar-animated w-100" role="progressbar"></div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          You cannot escape this alert with ESC and click, but you still can refresh the page or click on the button
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
