<h1 class="col-12 p-2 text-center">{{ server.title }}</h1>
<app-list-errors [errors]="errors"></app-list-errors>

<div fxLayout="row wrap" fxLayoutAlign="center">

  <mat-horizontal-stepper id="stepper" [linear]="false" fxFill>
    <mat-step label="Upload archive">
      <mat-accordion>
        <mat-expansion-panel id="upload_url">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Basic online functionality</b> : Upload a repository from Github
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="serverSettingsForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="fill">
              <mat-label>URL of server repository</mat-label>
              <input matInput type="url" formControlName="url">
            </mat-form-field>
            <button mat-flat-button color="success" type="submit" [disabled]="isSubmitting">
              Charge URL's exercises
            </button>
          </form>
          <br />
          <mat-checkbox name="gitJSON" [(ngModel)]="githubJSONUsed">
            Check if you want to override the current index.json by the github index.json, if present.
            <b>Recommended for newly created servers.</b>
          </mat-checkbox>
          <mat-checkbox name="gitLoading" [disabled]="!githubJSONUsed" [checked]="githubJSONUsed && githubAutoLoading"
            [(ngModel)]="githubAutoLoading">
            Check if you want to launch directly your server after the upload. <b>Recommended if you checked the above
              box.</b>
          </mat-checkbox>
          <br />
        </mat-expansion-panel>
        <mat-expansion-panel id="upload_exercises">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Basic local functionality</b> : Upload with an archive of exercises from your computer
              (must be named "exercises.zip")
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>Select files</h3>
          <input type="file" name="archive" ng2FileSelect [uploader]="uploader" />
          <hr />
          <mat-card class="warning">
            <mat-card-header>
              <mat-card-title>Warning</mat-card-title>
            </mat-card-header>
            <b>
              All exercises must be in its own folder,
              and each folder in a root folder named "exercises".
            </b>
            <app-expansion-img-panels [imgPanels]="[IMGPANELS.ARCHIVE[0]]">
            </app-expansion-img-panels>
          </mat-card>
          <hr />
          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>
          <!-- TODO: use mat-table
          <table mat-table [dataSource]="uploader.queue">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let item"> {{item.file.name}} </td>
            </ng-container>

            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef> Size </th>
              <td mat-cell *matCellDef="let item">
                {{item.file.size/(1024*1024)}}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let item">
                {{
                item.isSuccess ? 'Success' :
                item.isCancel  ? 'Cancel'  :
                item.isError   ? 'Error'   :
                ''
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="uploadHeaders"></tr>
            <tr mat-row *matRowDef="let row; columns: uploadHeaders;"></tr>
          </table>
          -->
          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td nowrap>{{ item?.file?.size/(1024*1024) | number:'.2' }} MB</td>
                <td>
                  <div class="progress mb-0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess">Success<i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel">Cancel<i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError">Error<i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                    [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          {{uploadErrors}}
          <app-list-errors [errors]="errors"></app-list-errors>
          <div>
            <div>
              Queue progress:
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
              [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
              [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Advanced local functionality</b> : Upload a complete server from your computer [repository + sync]
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>Select files</h3>
          <input type="file" name="archive" ng2FileSelect [uploader]="uploader_full" />
          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader_full?.queue?.length }}</p>
          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader_full.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                  <div class="progress mb-0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess">Success<i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel">Cancel<i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError">Error<i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                    [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          {{uploadErrors}}
          <app-list-errors [errors]="errors"></app-list-errors>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-step>
    <mat-step label="Manage exercises">
      <div fxLayout="column" fxLayoutGap="5%">
        <div fxFlex="200px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
          <mat-card id="trash">
            <mat-card-header>
              <mat-card-title>Trash:</mat-card-title>
              <div class="space"></div>
              <button mat-flat-button color="accent" (click)="clean()" matTooltip="Delete exercises files from Trash"
                matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-chip-list>
                <div id="trash-list" cdkDropList [cdkDropListData]="trashList"
                  [cdkDropListConnectedTo]="exercisesDropList" (cdkDropListDropped)="dropExercise($event)">
                  <mat-chip class="exercise-item" *ngFor="let exercise of trashList" cdkDrag>
                    {{exercise}}
                  </mat-chip>
                </div>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
          <mat-card id="exercises">
            <mat-card-header>
              <mat-card-title>Exercises List:</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-chip-list>
                <div id="exercises-list" cdkDropList [cdkDropListData]="exercisesList"
                  [cdkDropListConnectedTo]="exercisesDropList" (cdkDropListDropped)="dropExercise($event)">
                  <mat-chip class="exercise-item" *ngFor="let exercise of exercisesList" cdkDrag>
                    {{exercise}}
                  </mat-chip>
                </div>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
          <mat-card id="create-group">
            <mat-card-header>
              <mat-card-title>
                Drop an exercise here to create a new group
              </mat-card-title>
            </mat-card-header>
            <mat-card-content id="create-group-list" cdkDropList [cdkDropListConnectedTo]="exercisesDropList"
              cdkDropListOrientation="horizontal" (cdkDropListDropped)="createGroup($event)">
            </mat-card-content>
          </mat-card>
        </div>
        <div fxLayout="row" fxFlex="400px" fxLayoutAlign="center">
          <mat-card id="groups" fxFlex="70%">
            <mat-card-header>
              <mat-card-title>Groups List:</mat-card-title>
              <div class="space"></div>
              <button mat-flat-button color="info" (click)="loadGroups()" matTooltip="Undo changes without sending"
                matTooltipPosition="above">
                <mat-icon>undo</mat-icon>
              </button>
              <button mat-flat-button color="success" (click)="send()" matTooltip="Send your files"
                matTooltipPosition="above">
                <mat-icon>send</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <div id="groups-list" cdkDropList (cdkDropListDropped)="dropGroup($event)">
                  <mat-list-item class="group-item" *ngFor="let group of groupsList" cdkDragLockAxis="y" cdkDrag>
                    <mat-icon class="group-handle" matListIcon cdkDragHandle>reorder</mat-icon>
                    <mat-form-field matSubheader>
                      <mat-label>Group Title</mat-label>
                      <input matInput type="text" [(ngModel)]="group.title">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-chip-list>
                      <div id="{{group.id}}" cdkDropList cdkDropListOrientation="horizontal"
                        [cdkDropListData]="group.exercises" [cdkDropListConnectedTo]="exercisesDropList"
                        (cdkDropListDropped)="dropExercise($event)">
                        <mat-chip *ngFor="let exercise of group.exercises" cdkDrag>
                          {{exercise}}
                        </mat-chip>
                      </div>
                    </mat-chip-list>
                  </mat-list-item>
                </div>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-step>
    <mat-step label="Launch your instance">
      <p>
        {{
        !isDisabled ? 'Congratulation, the upload has been a success !' + ' ' +
        'Now you can launch your Learn-OCaml instance !'
        : isSending ? 'Your files are processing !'
        : 'Try to send some files first !'
        }}
      </p>
      <button mat-stroked-button color="info" [disabled]="isDisabled" [hidden]="server.active"
        (click)="disableServer()">
        <mat-icon>settings</mat-icon>
        Launch my LearnOCaml !
      </button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-divider fxFill></mat-divider>
</div>
<mat-card class="danger">
  <mat-card-header>
    <mat-card-title>
      <h2>Dangerous Zone</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-expansion-panel (opened)="dangerousZonePanelState = true" (closed)="dangerousZonePanelState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show {{dangerousZonePanelState ? 'less' : 'more'}}
      </mat-panel-title>
      <mat-panel-description>
        To delete your Server !
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (ngSubmit)="deleteServer()">
      <mat-checkbox name="confirm" [(ngModel)]="isConfirmingDelete" color="accent">
        I confirm I understand I will lose <b>all</b> my server's data and there is <b>no way</b> to have it back !
      </mat-checkbox>
      <mat-checkbox name="assume" [(ngModel)]="isAssumingDelete" color="accent">
        I assume I know what I am doing and to disable my server is <b>not</b> what I want !
      </mat-checkbox>
      <br />
      <button mat-flat-button color="accent" type="submit"
        [disabled]="isDeleting || !isConfirmingDelete || !isAssumingDelete">
        <mat-icon>delete</mat-icon>
        Delete Server
      </button>
    </form>
  </mat-expansion-panel>
</mat-card>
<div class="container">
  <jw-modal id="pleaseWait2"></jw-modal>

  <confirm-dialog></confirm-dialog>
</div>
