$font-size: 1rem;
$font-weight: 400;
$height: 34px;
$text-align: center;

%slide-toggle {
    font-size: $font-size;
    font-weight: $font-weight;
    height: $height;
    text-align: $text-align;
}

@mixin slide-toggle-color($color) {
    @extend %slide-toggle;
    @include border-color($color);

    color: $color;
}

@each $color-key, $color-value in $palette {
    .mat-slide-toggle.mat-#{$color-key} {
        @include slide-toggle-color(nth($color-value, 1));
        &.mat-checked {
            .mat-slide-toggle-bar,
            .mat-slide-toggle-thumb,
            .mat-ripple-element {
                background-color: nth($color-value, 1);
            }
        }
    }
}

.mat-slide-toggle-label {
    justify-content: center;

}

.mat-slide-toggle-content > .mat-icon {
    vertical-align: text-bottom;
}
