@import './variables';
@import './mixins';

$ionicons-font-path: "~ionicons/dist/fonts";
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink';
@import '~bootstrap/scss/bootstrap';
@import 'fonts/fonts';
@import '~ionicons/dist/scss/ionicons';

/*@import url('//demo.productionready.io/main.css');*/

html, body, app-root {
    height: 100%;
}

body {
    background-color: $desert-sand;
}

app-root {
    display: flex;
    flex-direction: column;
}

.thecontainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
}
