$font-size: 1rem;
$font-weight: 400;

%border {
    box-shadow: border-box;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin border-color($color) {
    @extends border;

    color: $color;
    background-color: transparent;
    border-color: $color;
}
