$border: 1px solid transparent;
$border-radius: 4px;

%border {
    border: $border;
    border-radius: $border-radius;
    box-shadow: border-box;
}

@mixin border-color($color) {
    @extend %border;

    border-color: $color;
}
