header {
    margin-bottom: 6rem;
}

header > div {
    background-color: $color-sand;
    padding: 16px;

}

header .nav-item {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

header .btn {
  width: 100%;
}
