@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Merriweather+Sans_400_normal.eot); /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjE.eot */
    src: local('☺'),
        url(/fonts/Merriweather+Sans_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjE.eot */
        url(/fonts/Merriweather+Sans_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjU.woff2 */
        url(/fonts/Merriweather+Sans_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjM.woff */
        url(/fonts/Merriweather+Sans_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjDp8Bte.ttf */
        url(/fonts/Merriweather+Sans_400_normal.svg#Merriweather+Sans_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjI&skey=d5dbcab03e19f051&v=v11#MerriweatherSans */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Source+Sans+Pro_400_normal.eot); /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot */
        url(/fonts/Source+Sans+Pro_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2 */
        url(/fonts/Source+Sans+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7j.woff */
        url(/fonts/Source+Sans+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7gujVj9w.ttf */
        url(/fonts/Source+Sans+Pro_400_normal.svg#Source+Sans+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7i&skey=1e026b1c27170b9b&v=v13#SourceSansPro */
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Source+Serif+Pro_400_normal.eot); /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-pA.eot */
    src: local('☺'),
        url(/fonts/Source+Serif+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-pA.eot */
        url(/fonts/Source+Serif+Pro_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-oA.woff2 */
        url(/fonts/Source+Serif+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-pg.woff */
        url(/fonts/Source+Serif+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-pQGIyY0.ttf */
        url(/fonts/Source+Serif+Pro_400_normal.svg#Source+Serif+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-pw&skey=ad61dbb9e6ec58fd&v=v7#SourceSerifPro */
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Titillium+Web_700_normal.eot); /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzZw.eot */
    src: local('☺'),
        url(/fonts/Titillium+Web_700_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzZw.eot */
        url(/fonts/Titillium+Web_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2 */
        url(/fonts/Titillium+Web_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzZQ.woff */
        url(/fonts/Titillium+Web_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzZpabuWI.ttf */
        url(/fonts/Titillium+Web_700_normal.svg#Titillium+Web_700_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzZA&skey=6e7dbb342580bb18&v=v8#TitilliumWeb */
}
@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Merriweather+Sans_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Merriweather+Sans_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Merriweather+Sans_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2 */
        url(/fonts/Merriweather+Sans_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hA.woff */
        url(/fonts/Merriweather+Sans_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/merriweathersans/v11/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hN0z5qZ.ttf */
        url(/fonts/Merriweather+Sans_700_normal.svg#Merriweather+Sans_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/Source+Sans+Pro_300_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_300_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_300_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18Q.woff2 */
        url(/fonts/Source+Sans+Pro_300_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18I.woff */
        url(/fonts/Source+Sans+Pro_300_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18G0xR41.ttf */
        url(/fonts/Source+Sans+Pro_300_italic.svg#Source+Sans+Pro_300_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/Source+Sans+Pro_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_400_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2 */
        url(/fonts/Source+Sans+Pro_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDQ.woff */
        url(/fonts/Source+Sans+Pro_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDdB9cme.ttf */
        url(/fonts/Source+Sans+Pro_400_italic.svg#Source+Sans+Pro_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/Source+Sans+Pro_600_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_600_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_600_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lCds18Q.woff2 */
        url(/fonts/Source+Sans+Pro_600_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lCds18I.woff */
        url(/fonts/Source+Sans+Pro_600_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lCds18G0xR41.ttf */
        url(/fonts/Source+Sans+Pro_600_italic.svg#Source+Sans+Pro_600_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/Source+Sans+Pro_700_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_700_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_700_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18Q.woff2 */
        url(/fonts/Source+Sans+Pro_700_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18I.woff */
        url(/fonts/Source+Sans+Pro_700_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18G0xR41.ttf */
        url(/fonts/Source+Sans+Pro_700_italic.svg#Source+Sans+Pro_700_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Source+Sans+Pro_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_300_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2 */
        url(/fonts/Source+Sans+Pro_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdo.woff */
        url(/fonts/Source+Sans+Pro_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr3cOWxw.ttf */
        url(/fonts/Source+Sans+Pro_300_normal.svg#Source+Sans+Pro_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/Source+Sans+Pro_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_600_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2 */
        url(/fonts/Source+Sans+Pro_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdo.woff */
        url(/fonts/Source+Sans+Pro_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr3cOWxw.ttf */
        url(/fonts/Source+Sans+Pro_600_normal.svg#Source+Sans+Pro_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Source+Sans+Pro_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Sans+Pro_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Sans+Pro_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2 */
        url(/fonts/Source+Sans+Pro_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdo.woff */
        url(/fonts/Source+Sans+Pro_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr3cOWxw.ttf */
        url(/fonts/Source+Sans+Pro_700_normal.svg#Source+Sans+Pro_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Source+Serif+Pro_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/fonts/Source+Serif+Pro_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/fonts/Source+Serif+Pro_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasc8btSyqxA.woff2 */
        url(/fonts/Source+Serif+Pro_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasc8btSyqwg.woff */
        url(/fonts/Source+Serif+Pro_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasc8btSyqwacsdrM.ttf */
        url(/fonts/Source+Serif+Pro_700_normal.svg#Source+Serif+Pro_700_normal) format('svg'); /* {{svg-gf-url}} */
}
