<div class="banner" *appShowAdmin="false">
  <h1 class="logo-font">Learn OCaml Essok</h1>
  <i>SHALL NOT PASS</i>
</div>

<mat-card *appShowAdmin="true">
  <mat-card-header>
    <mat-card-title>God Board</mat-card-title>
    <mat-card-subtitle>
      "With great power comes a great responsibility"
    </mat-card-subtitle>
  </mat-card-header>
  <hr />
  <mat-card-actions>
    <button mat-stroked-button color="warn"
            [ngClass]="{disabled: isUser}" (click)="getUser()">
      <i class="ion-person"></i> Manage by User
    </button>
    <button mat-stroked-button color="warn"
            [ngClass]="{disabled: isServer}" (click)="getServer()">
      <i class="ion-settings"></i> Manage by Server
    </button>
    <mat-slide-toggle class="mat-button"
                      color="info"
                      [checked]="isActive"
                      labelPosition='before' (change)="getActived()">
      Filter by Active
    </mat-slide-toggle>
    <mat-slide-toggle class="mat-button"
                      color="info"
                      [checked]="isAuthorized" [disabled]="isServer"
                      labelPosition='before' (change)="getAuthorized()">
      Filter by Authorized
    </mat-slide-toggle>
  </mat-card-actions>
  <hr />
  <hr />
  <router-outlet name="server" *ngIf="isServer"></router-outlet>
  <router-outlet name="user" *ngIf="isUser"></router-outlet>
</mat-card>
