/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ionicons/dist/css/ionicons.css';
@import 'fonts/fonts.css';
@import 'bootstrap/dist/css/bootstrap.css';
/*@import url('//demo.productionready.io/main.css');*/

/* Wallpaper for the background */
.bg-body {
  /* background-image: url('assets/wallpaper.jpg'); */
  background-color: #f67220 !important;

}

/* Sand background for NavBar */
.bg-sand {
  background-color: #f6ebe3 !important;
}

/* Oasis Blue background for Banner */
.bg-oasis-blue {
  background-color: #3b55f2 !important;
}

/* Main Orange background for Main Orange */
.bg-main-orange {
  background-color: #f67242 !important;
}
