<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="text-center">{{ title }}</h1>
      <p class="text-center">
        <a [routerLink]="['/login']" *ngIf="authType == 'register'">
          Have an account?
        </a>
        <a [routerLink]="['/register']" *ngIf="authType == 'login'">
          Need an account?
        </a>
      </p>
      <app-list-errors [errors]="errors"></app-list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <input
              formControlName="username"
              placeholder="Username"
              class="form-control form-control-lg"
              type="text"
              *ngIf="authType == 'register'" />
          </fieldset>
          <fieldset class="form-group">
            <textarea
              class="form-control form-control-lg"
              formControlName="description"
              placeholder="Who are you ?"
              type="text"
              *ngIf="authType == 'register'">
            </textarea>
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control form-control-lg"
              formControlName="place"
              placeholder="Where do you work ?"
              type="text"
              rows="5"
              *ngIf="authType == 'register'">
            </textarea>
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control form-control-lg"
              formControlName="goal"
              placeholder="Why would you want an account ?"
              type="text"
              rows="5"
              *ngIf="authType == 'register'" >
            </textarea>
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg"
              rows="5"
              type="text" />
              Email must be a valid email : [example]@[example].[example]
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Password"
              class="form-control form-control-lg"
              type="password" />
              Password must be include at one letter and one number and be at least 6 characters long.
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
            {{ title }}
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
