<div class="disableAccount-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">

                <h1 class="text-xs-center" *ngIf="user.active && !user.admin">Disable your account</h1>
                <h1 class="text-xs-center" *ngIf="!user.active && !user.admin">Enable your account</h1>
                <h1 class="text-xs-center" *ngIf="user.admin">Enable or Disable an account : Admin mode</h1>
                <p class="text-xs-center" *ngIf="user.active && !user.admin">When you disable your account, your data will be keep safe
                    until you return
                </p>
                <p class="text-xs-center" *ngIf="!user.active && !user.admin">When you enable your account, your data will be ready for
                    use
                </p>
                <p class="text-xs-center" *ngIf="user.admin">When you enable or you disable an account, their data will be keep safe
                </p>
                <app-list-errors [errors]="errors"></app-list-errors>

                <form [formGroup]="authForm" (ngSubmit)="submitForm()">
                    <fieldset class="form-group">
                        <input formControlName="email" placeholder="Email Verification"
                            class="form-control form-control-lg" rows="5" type="text" />
                    </fieldset>

                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password"
                            formControlName="password" />
                    </fieldset>
                </form>

                <form [formGroup]="disableAccountForm" (ngSubmit)="submitForm()">
                    <fieldset [disabled]="isSubmitting">
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="password"
                                placeholder="Password Verification" formControlName="password_verification" />
                        </fieldset>

                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="username"
                                placeholder="Username Verification" formControlName="username_verification" />
                        </fieldset>
                        <div *ngIf="user.active && !user.admin">
                            <input type="checkbox" (click)="understandDelete()">
                            I confirm I understand I want to DISABLE my account !
                            <br />
                            <input type="checkbox" (click)="assumeDelete()"> I assume I know what I'm doing and
                            DISABLING
                            my account will DISABLE all my servers during this time !
                            <br />
                            <br />
                            <button class="btn btn-lg btn-warning pull-xs-right"
                                [disabled]="!disableAccountForm.valid || !authForm.valid" type="submit">
                                Disable my account
                            </button>
                        </div>
                        <div *ngIf="!user.active && !user.admin">
                            <input type="checkbox" (click)="understandDelete()">
                            I confirm I understand I want to Enable my account !
                            <br />
                            <input type="checkbox" (click)="assumeDelete()"> I assume I know what I'm doing and
                            ENABLING
                            my account will ENABLE all my servers !
                            <br />
                            <br />
                            <button class="btn btn-lg btn-warning pull-xs-right"
                                [disabled]="!disableAccountForm.valid || !authForm.valid" type="submit">
                                Enable my account
                            </button>
                        </div>
                        <div *ngIf="user.admin">
                            <input type="checkbox" (click)="understandDelete()">
                            I confirm I understand I want to Enable or Disable an account !
                            <br />
                            <input type="checkbox" (click)="assumeDelete()"> I assume I know what I'm doing and
                            ENABLING or DISABLING
                            an account will ENABLE or DISABLE all the account's servers !
                            <br />
                            <br />
                            <button class="btn btn-lg btn-warning pull-xs-right"
                                [disabled]="!disableAccountForm.valid || !authForm.valid" type="submit">
                                Enable or Disable an account
                            </button>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>