.danger {
    border-style: dashed;
    border-color: crimson;
    background-color: #ffe6e6;
}

.warning {
    border-style: dashed;
    border-color: rgb(220, 183, 20);
    background-color: #ffffe6;
}