<div class="resetPassword-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-xs-12">

        <h1 class="text-xs-center">Password Reset</h1>
        <p class="text-xs-center">Passwords must be include at one letter and one number and be at least 6 characters long.</p>
        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Email Verification"
                class="form-control form-control-lg"
                rows="5"
                type="text" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="Old Password"
                formControlName="password" />
            </fieldset>
        </form>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

           <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="New Password"
                formControlName="new_password" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="New Password Verification"
                formControlName="new_password_verification" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!resetPasswordForm.valid || !authForm.valid"
              type="submit">
              Update Password
            </button>

          </fieldset>
        </form>


      </div>
    </div>
  </div>
</div>
